{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Edit Location {% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Location</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-info">Save Changes</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
